* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #d3d3d3;
}

img {
    width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.header .container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #3882f6;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #1f2937;
    color: #fff;
    height: 60px;
}

.header .container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 25px;
}

.header {
    height: 450px;
    background-color: #1f2937;
}

